body {
  font-size: x-large;
  font-family:"Gill Sans", sans-serif;
  background-image: url('background-image.jpg'); 
  background-size:cover;
  background-position: center;
  background-attachment: fixed; 
  text-align: center;
  margin-top: 70px;
  color:#fff}


h1 {color:rgb(237, 24, 24);

}

input[type="text"] {
  width: calc(80px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #441d1d6f;
}

button {
  padding: 10px 20px;
  background-color:rgb(237, 24, 24);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#weatherData {
  margin-top: 20px;
}
